{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <h1>Statistiques</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Catégories</th>
                <th scope="col">Bières</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for statistic in statistics %}
            <tr>
                <td>{{statistic.clientId.name}}</td>
                <td>
                    {% for category in statistic.beerId.categories %}
                        {{category.name}} <br>
                    {% endfor %}
                </td>
                <td>{{statistic.beerId.name}}</td>
                <td>{{statistic.score}}/20</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}